{% extends "layout.html" %} {% block content %}
<main class="hero-section">
  <div class="container">
    <div class="section-content1">
      <h2>My book web site designed by Flask</h2>
      <a href="/newbook" class="btn-primary">New Book</a>
      <a href="/about" class="btn-secondary">About me</a>
      <a href="/bookslist" class="btn-primary">Books List</a>
      <a href="/update" class="btn-secondary"> update </a>
    </div>

    <div class="section-device">
      <img src="static/img/Booksstacked .png" />
    </div>
  </div>
</main>
{% endblock %}
